{% extends "base" %}
{% block title %}
registration complete
{% endblock title %}
{% block body %}
<style>
#center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
}
</style>
<div id="center">
Registration complete, you can now go back to the <a href="/">index</a>.
</div>
{% endblock body %}